# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Test-Reformat

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
         flutter-version: '2.10.4'
         channel: 'stable'
      - name: Install dependencies
        run: flutter pub get

      #Uncomment this step to verify the use of 'dart format' on each commit.
      - name: Verify formatting
        run: flutter format --set-exit-if-changed .

      # Consider passing '--fatal-infos' for slightly stricter analysis.
      - name: Analyze project source
        run: flutter analyze --fatal-infos

      # Your project will need to have tests in test/ and a dependency on
      # package:test for this step to succeed. Note that Flutter projects will
      # want to change this to 'flutter test'.
      - name: Run tests
        run: flutter test
      - name: Git Commit
        run: |
            git config --local user.email "github-actions[bot]@github.com"
            git config --local user.name "Github CI"
            git add .
            git commit -m "Commit crime"
            git push
      
