# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build Web

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Note: This workflow uses the latest stable version of the Dart SDK.
      # You can specify other versions if desired, see documentation here:
      # https://github.com/dart-lang/setup-dart/blob/main/README.md
      # - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v2
        with:
         flutter-version: '2.10.4'
         channel: 'stable'
         cache: true
      - name: Install dependencies
        run: dart pub get
      - run: flutter build web --base-href /itzcord
      - run: |
         rm -rf .git
         git clone -b gh_pages https://github.com/${{ github.repository }} gh_pages
         mv gh_pages/.git ./git
         rm -rf gh_pages/*
         mv ./git gh_pages/.git
         mv build/web/* gh_pages
         cd gh_pages
         ls
         git add .
         git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
         git config --local user.email "github-actions[bot]@users.noreply.github.com"
         git config --local user.name "Bob Builder[Bot]"
         git commit -m "Cool"
         git push
